extends layout

block content
    div(class="box")
        h1= title
        ul
            each route in routes
                li: a(href=route.url class="button-link") #{route.url} [#{route.method}] 