extends layout

block content
    h1.title= title
    div.box
        div.table-responsiv
            table.table.table-hover.table-striped
                thead.thead-inverse
                    tr
                        th Method
                        th Url
                tbody
                    each route in routes
                        tr
                            td=route.method 
                            td: a.simple(href=route.url) #{route.url} 