extends layout

block content
    h1.title= title
    div.box
        div.table-responsiv
            table.table.table-hover.table-striped
                thead.thead-inverse
                    tr
                        th Last Name
                        th First Name
                        th EMail
                tbody
                    each user in users
                        tr 
                            td #{user.lastname}
                            td #{user.firstname} 
                            td #{user.email} 

