@font-face {
    font-family: Simpsons;
    src: url("/fonts/Simpsons.ttf") format("truetype");
}

body {
	background: linear-gradient(to right, lightskyblue , #2053aD);
	padding: 20px;
	color:#2A4E77;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.box{
	background-color: lightsteelblue;
	opacity: 0.8;
	padding: 1.5em; 
	border-radius: 4px;
    border: solid 1px #20538D;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

h1.title {
	color: white;
	font-family: Simpsons;
	text-shadow: 4px 4px 8px #202020;
	margin-bottom: .5em;
}

h2 {
	margin-bottom: 1em;
}

a.simple {
	color: inherit;
	text-decoration: none;
}

img.icon{
	width: 20px;
	height: 20px;
	margin: 0px 8px;
}

img.icon-lg{
	width: 45px;
	height: 45px;
	margin: 5px 12px;
}

form.form-inline-block{
	display: inline-block;
}
